[submodule "themes/blowfish"]
	path = themes/blowfish
	url = https://github.com/nunocoracao/blowfish
	branch = main
[submodule "assets/lib/medium-zoom"]
	path = assets/lib/medium-zoom
	url = https://github.com/tristanbatchler/medium-zoom
