<script src="{{ "js/scroller.js" | relURL }}" defer></script>

{{/* Override theme's medium-zoom JS */}}
{{ $zoomJS := resources.Get "lib/medium-zoom/dist/medium-zoom.min.js" | resources.Fingerprint "sha512" }}
<script src="{{ $zoomJS.RelPermalink }}" integrity="{{ $zoomJS.Data.Integrity }}"></script>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap" rel="stylesheet">